<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <title>Card Details</title>
</head>
<style>
    .card{
        width:340px;
        height:170px;
        background-image: url("/image/visacard.png");
        background-repeat: no-repeat;
        background-size: cover;
        color:white;
        padding:10px 10px;
        margin-bottom:10px;
        line-height: 24px;
        font-size:20px;
        font-family: 'Lato', sans-serif;
    }
</style>
<body>
    <div>
        <% cards.forEach(function(item, index) { %>
            <div class="card">
                <h3 id="userName"><%- item.userName %>
                </h3>
                <div id="cardNo">Card Number:<%- item.cardNumber %>
                </div>
                <div id="ValidTill">Valid Till:<%- item.month %>/<%- item.year %>
                </div>
                <div id="cvv">CVV:<%- item.cvv %>
                </div>
            </div>
            <% }) %>
    </div>
</body>

</html>